*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.activar__lista{
        display: none;
}
.cabecera{
    min-height: 100vh;
    /* border: 1px solid red; */
    background: url(img/fondo1.jpg) no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 2em 0;
}
/*------------------------- NAVEGACION --------------------------- */
.cabecera__navegacion{
    /* border: 1px solid red; */
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    background: black;
}
.cabecera__navegacion__imagen{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.cabecera__navegacion__boton{
    display: none;
}
.cabecera__navegacion__lista{
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    flex-wrap: wrap;
}
.cabecera__navegacion__lista a{
    text-decoration: none;
    color: white;
}
.item{
    /* border: 1px solid red; */
    padding: .5em 1.5em;
    background: #FFAA01;
    border-radius: 1em;
    transition: .5s;
}
.item:hover{
    background:rgba(13, 146, 252, .5);
}
/*------------------------- INFORMACION --------------------------- */
.cabecera__contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    flex-wrap: wrap-reverse;
}
.propietario{
    margin-top: 10em;
}
.cabecera__contenedor__foto{
    width: 12.5em;
    height: 12.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* border: 1px solid red; */
}
.cabecera__contenedor__propietario{
    min-width: 320px;
    /* border: 1px solid red; */
    margin: 1em 0;
    padding: 0 1em;
    color: white;
    background: rgba(0, 0, 0, 0.25);
}
.hola{
    font-size: 2em;
    font-weight: 600;
    margin: .5em 0;
    /* border: 1px solid red; */
}
.nombre{
    font-size: 3.25em;
    font-weight: bold;
    margin: .5em 0;
    /* border: 1px solid red; */
}
.soy{
    font-size: 1.25em;
    font-weight: bold;
    margin: .5em 0;
    /* border: 1px solid red; */
}
.ultimo{
    margin-top: 10em;
}
.cabecera__contenedor__bajando{
    /* border: 1px solid red; */
    color: white;
    padding: 1em 3em;
    border-radius: 3px;
    text-decoration: underline;
    background: black;
    border: 1px solid wheat;
}
/*------------------------- CONOCIMIENTOS --------------------------- */
.principal{
    min-height: 100vh;
    background: silver;
    /* border: 1px solid red; */
}
.principal__cabeza{
    min-height: 25vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-bottom: 2.5px solid  rgba(255, 170, 0, 0.75);
}
.principal__cabeza__titulo{
    font-size: 2em;
    text-align: center;
    color: white;
}
.principal__cuerpo{
    min-height: 75vh;
    padding: 2em;
    /* border: 1px solid red; */
    background: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: url(img/fondo2.jpg) no-repeat;
    background-size: cover;
}
.principal__cuerpo__informacion{
    /* border: 1px solid red; */
    width: 300px;
    margin: 2em 1em;
    padding: 1.5em 0;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    background: whitesmoke;
}
.principal__cuerpo__informacion__titulo{
    /* border: 1px solid red; */
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    width: 75%;
    margin: 0 auto;
    border-bottom: 5px solid purple;
    display: flex;
    justify-content: center;
}
.principal__cuerpo__informacion__contenedorimagen{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
.principal__cuerpo__informacion__imagen{
    /* border: 1px solid red; */
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal__cuerpo__informacion__texto{
    /* border: 1px solid red; */
    padding: 1em;
    min-height: 110px;
}
.principal__cuerpo__infomacion__lista{
    /* border: 1px solid red; */
    padding-left: 3em;
}
.informacion__lista{
    list-style: none;
}
.informacion__lista__item{
    margin: 1em 0;
}
/*------------------------- TRABAJOS --------------------------- */
.principal__cabecera__imagenes{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    background: black;
}
.principal__cabecera__imagenes__titulo{
    padding: 0.5em;
    min-width: 50%;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: white;
}
.principal__cabecera__imagenes__descripcion{
    padding: 0.5em;
    min-width: 50%;
    /* border: 1px solid red; */
    text-align: center;
    font-weight: bolder;
    color: wheat    ;
}
.principal__imagenes{
    min-height: 80vh;
    padding: 2em;
    /* border: 1px solid red; */
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,290px);
    background: url(img/fondo3.jpg) no-repeat;
    background-size: cover;
    
}
.principal__imagenes__imagen{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.1);
}
.principal__imagenes__imagen:hover{
    transform: scale(.9);
}
/*------------------------- PIE DE PAGINA --------------------------- */
.footer{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    background: black;
    color: white;
    /* border: 1px solid red; */
    flex-wrap: wrap;
}
.footer__redes{
    min-width: 25%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.footer__derechos{
    margin: 0 auto;
    padding: 1em 2em;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 0.9em;
}
.footer__redes__icono{
    padding: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 .5em;
    transition: .25s;
    /* border: 1px solid red; */
}
.footer__redes__icono:nth-child(1){
    background: #0D92FC;
}
.footer__redes__icono:nth-child(2){
    background: red;
}
.footer__redes__icono:nth-child(3){
    background: rgb(75, 75, 218);
}
.footer__redes__icono:hover{
    background: rgba(13,146, 252,.5);
    transform: scale(1.2);
    /* border: 1px solid red; */
}
/*------------------------- TABLET --------------------------- */
@media (max-width: 768px) {
    .principal__imagenes{
        min-height: 100vh;
        padding: 2em;
        /* border: 1px solid red; */
        display: grid;
        gap: .5em;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,300px); 
    }
  }
/*------------------------- CELULAR --------------------------- */
@media (max-width: 425px) {
    .cabecera{
        padding-top:0.25em;
    }
    .principal__imagenes{
        min-height: 100vh;
        padding: 2em;
        /* border: 1px solid red; */
        display: grid;
        gap: .5em;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,300px); 
    }
    .cabecera__navegacion{
        /* border: 1px solid red; */
        margin: 2em 0;
        padding: 1em 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: white;
        background: black;
        position: relative;
    }
    .cabecera__navegacion__lista{
        position: absolute;
        left: -100vw;
        width: 50vw;
        top: 100%;
        height: calc(100vh - (4em + 20px));
        /* border: 1px solid red; */
        list-style: none;
        display: flex;
        align-items: center;
        background: white;
        flex-direction: column;
        transition: .5s;
    }
    .cabecera__navegacion__boton{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
    }
    .activar__lista:checked ~ .cabecera__navegacion .cabecera__navegacion__lista{
        left: 0;
        transition: 1s;
    }
    .propietario{
        margin-top: 2em;
        padding: 0 2em;
    }
  }