*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Serif', serif;
}
:root{
    --letras:white;
    --borde-fondo: #FFAA01;
    --fondo-oscuro: black;
}
.cabecera{
    min-height: 100vh;
    /* border: 1px solid red; */
    background: url(img/fondo1.jpg) no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 2em 0;
}
/*------------------------- NAVEGACION --------------------------- */
.activar__lista{
    display: none;
}
.cabecera__navegacion{
    /* border: 1px solid red; */
    position: fixed;
    left: 0;
    width:100%;
    z-index: 3;
    padding: 1em 2em;
    margin-top: -2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--letras);
    background: var(--fondo-oscuro);
    border-bottom: 2px solid var(--borde-fondo);
}
.cabecera__navegacion__imagen{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
}
.cabecera__navegacion__boton{
    display: none;
}
.cabecera__navegacion__lista{
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    flex-wrap: wrap;
}
.cabecera__navegacion__lista a{
    text-decoration: none;
    color: var(--letras);
}
.item{
    /* border: 1px solid red; */
    padding: .5em 1.5em;
    background: var(--borde-fondo);
    border-radius: 1em;
    transition: .5s;
}
.item:hover{
    background:rgba(13, 146, 252, .5);
}
/*------------------------- INFORMACION --------------------------- */
.cabecera__contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    flex-wrap: wrap-reverse;
}
.propietario{
    margin-top: 10em;
}
.cabecera__contenedor__foto{
    width: 15em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* opacity: 1; */
    border: 8px solid var(--borde-fondo);
    animation: 3s foto 1;
    /* border: 1px solid red; */
}
@keyframes foto{
    0%{
        opacity: 0;
        transform: translateX(15em);
    }
    100%{
        opacity: 1;
    }
}
.cabecera__contenedor__propietario{
    min-width: 320px;
    /* border: 1px solid red; */
    margin: 1em 0;
    padding: 0 1em;
    color: var(--letras);
    background: rgba(0, 0, 0, 0.25);
    animation: 4s informacion 1;
}
@keyframes informacion{
    0%{
        opacity: 0;
        transform: translateX(-40em);
    }
    100%{
        opacity: 1;
    }
}
.hola{
    font-size: 2em;
    font-weight: 600;
    margin: .5em 0;
    /* border: 1px solid red; */
}
.nombre{
    font-size: 3.25em;
    font-weight: bold;
    margin: .5em 0;
    color: var(--borde-fondo);
    /* border: 1px solid red; */
}
.soy{
    font-size: 1.25em;
    font-weight: bold;
    margin: .5em 0;
    /* border: 1px solid red; */
}
.ultimo{
    margin-top: 10em;
}
.cabecera__contenedor__bajando{
    /* border: 1px solid red; */
    color: var(--letras);
    padding: 1em 3em;
    border-radius: 3px;
    text-decoration: underline;
    background: var(--fondo-oscuro);
    border: 1px solid var(--borde-fondo);
    animation: 1.5s bajando infinite;
}

@keyframes bajando{
    50%{
        transform: translateY(-1.5em);
    }
    100%{
        transform: translateY(0);
    }
}
/*------------------------- CONOCIMIENTOS --------------------------- */
.principal{
    min-height: 100vh;
    background: silver;
    /* border: 1px solid red; */
}
.principal__cabeza{
    min-height: 25vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--fondo-oscuro);
    border-bottom: 2.5px solid var(--borde-fondo);
}
.principal__cabeza__titulo{
    font-size: 2em;
    text-align: center;
    color: var(--letras);
}
.principal__cuerpo{
    min-height: 75vh;
    padding: 2em;
    /* border: 1px solid red; */
    background: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: url(img/fondo2.jpg) no-repeat;
    background-size: cover;
}
.principal__cuerpo__informacion{
    /* border: 1px solid red; */
    width: 300px;
    margin: 2em 1em;
    padding: 1.5em 0;
    box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    background-image: linear-gradient(to right, rgb(250, 224, 191) 10% , rgb(255, 255, 221) 50% , rgb(253, 223, 183) 90%);
}
.principal__cuerpo__informacion:hover{
    transition: .5s;
    transform: scale(1.1);
}
.principal__cuerpo__informacion__titulo{
    /* border: 1px solid red; */
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    width: 75%;
    margin: 0 auto;
    border-bottom: 5px solid var(--borde-fondo);
    display: flex;
    justify-content: center;
}
.principal__cuerpo__informacion__contenedorimagen{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
.principal__cuerpo__informacion__imagen{
    /* border: 1px solid red; */
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(73, 92, 37);
}
.principal__cuerpo__informacion__texto{
    /* border: 1px solid red; */
    padding: 1em;
    min-height: 110px;
}
.principal__cuerpo__infomacion__lista{
    /* border: 1px solid red; */
    padding-left: 3em;
}
.informacion__lista{
    list-style: none;
}
.informacion__lista i{
    color: rgb(110, 117, 45);
}
.informacion__lista__item{
    margin: 1em 0;
}
/*------------------------- TRABAJOS --------------------------- */
.principal__cabecera__imagenes{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    background: var(--fondo-oscuro);
}
.principal__cabecera__imagenes__titulo{
    padding-top: 1em;
    min-width: 50%;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: var(--letras);
}
.principal__cabecera__imagenes__descripcion{
    padding: 0.5em;
    min-width: 50%;
    /* border: 1px solid red; */
    text-align: center;
    font-weight: bolder;
    color: wheat;
}
.principal__imagenes{
    min-height: 80vh;
    padding: 2em;
    /* border: 1px solid red; */
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    background: url(img/fondo3.jpg) no-repeat;
    background-size: cover;
    
}
.principal__imagenes__imagen{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.1);
}
.principal__imagenes__imagen:hover{
    transform: scale(.9);
}
/*------------------------- PIE DE PAGINA --------------------------- */
.footer{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    background: var(--fondo-oscuro);
    color: var(--letras);
    /* border: 1px solid red; */
    flex-wrap: wrap;
}
.footer__redes{
    min-width: 25%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.footer__derechos{
    margin: 0 auto;
    padding: 1em 2em;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 0.9em;
}
.footer__redes__icono{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 .5em;
    transition: .25s;
    color: white;
    border: 1px solid silver;
    /* border: 1px solid red; */
}
.footer__redes__icono:nth-child(1){
    background: #3b5998;
}
.footer__redes__icono:nth-child(2){
    background:  #00acee;
}
.footer__redes__icono:nth-child(3){
    background: #0072b1;
}
.footer__redes__icono:hover{
    transform: scale(1.3);
    /* border: 1px solid red; */
}
/*----------------------- RESPONSIVE ------------------------- */

/*------------------------- TABLET --------------------------- */
@media (max-width: 768px) {
    .principal__imagenes{
        min-height: 100vh;
        padding: 2em;
        /* border: 1px solid red; */
        display: grid;
        gap: .5em;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto); 
    }
  }
/*------------------------- CELULAR --------------------------- */
@media (max-width: 480px) {
    .cabecera{
        padding-top:0.25em;
    }
    .foto{
        margin-top: 5em;
    }
    .principal__imagenes{
        min-height: 100vh;
        padding: 2em;
        /* border: 1px solid red; */
        display: grid;
        gap: .5em;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,auto); 
    }
    .cabecera__navegacion{
        /* border: 1px solid red; */
        margin-top: -4px;
        padding: 1em 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: var(--letras);
        background: var(--fondo-oscuro);
        position: fixed;
        width: 100vw;
        z-index: 1;
        border: none;
    }
    .cabecera__navegacion__lista{
        position: absolute;
        left: -100vw;
        width: 50vw;
        top: 100%;
        height: calc(100vh - (2em + 20px));
        /* border: 1px solid red; */
        list-style: none;
        display: flex;
        align-items: center;
        background: white;
        flex-direction: column;
        transition: .5s;
        background-image: linear-gradient(to bottom , #001A49 , #0022A4);
    }
    .cabecera__navegacion__boton{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
    }
    .activar__lista:checked ~ .cabecera__navegacion .cabecera__navegacion__lista{
        left: 0;
        transition: 1s;
    }
    .propietario{
        margin-top: 2em;
        padding: 0 2em;
    }
  }